@layer reset, base, global, posts, state;

@layer base {
	:root {
		--accent: light-dark(black, lightgreen);
		--muted: 0.8;
		--max-width: 90ch;
	}

	p,
	li {
		max-width: 55ch;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		max-width: 35ch;
		margin-block-start: 1lh;
	}

	a {
		--color: var(--accent);
		--decoration-opacity: 20%;

		color: var(--color);
		text-underline-offset: 0.1lh;
		text-decoration-thickness: 0.05lh;
		text-decoration-color: color-mix(
			in hsl,
			var(--color) var(--decoration-opacity),
			transparent
		);
		transition: text-decoration-color 100ms ease-out;

		&:hover {
			--decoration-opacity: 100%;
		}
	}

	code,
	pre {
		font-family:
			"SF Mono", Menlo, Consolas, "Liberation Mono", "Courier New", monospace;
	}

	code {
		background-color: color-mix(in hsl, currentColor 5%, transparent);
		border: 1px solid color-mix(in hsl, currentColor 10%, transparent);
		padding-inline: 0.2em;
		border-radius: 0.1lh;
		font-size: smaller;
	}

	pre {
		--border: 1px solid color-mix(in hsl, currentColor 10%, #0c150f);

		background-color: #0c150f;
		border: var(--border);
		font-size: smaller;
		border-radius: 0.5lh;
		padding: 1em;

		& code {
			background-color: transparent;
			border: none;
			padding-inline: unset;
			border-radius: unset;
			font-size: unset;
		}

		&:has([class*="language"]) {
			padding-block-start: 0;

			&::before {
				box-sizing: border-box;
				position: sticky;
				inset-inline-start: 0;
				display: block;
				text-align: end;
				font-size: small;
				line-height: 1;
				padding: 1lh 0.5em;
				border-block-end: var(--border);
				text-transform: uppercase;
				margin-block-end: 1lh;
				opacity: var(--muted);
				color: white;
			}

			&[class*="html"]::before {
				content: "HTML";
			}

			&[class*="js"]::before {
				content: "Javascript";
			}
		}
	}

	blockquote {
		margin-inline-start: 0;
		padding-inline-start: 2ch;
		border-inline-start: 1px solid
			color-mix(in hsl, var(--accent) 33%, transparent);
		margin-block: 2lh;
	}
}

@layer state {
	:focus-visible {
		outline: 3px solid currentColor;
	}
}

@layer global {
	.global-header {
		max-width: var(--max-width);
		margin-inline: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1ex 5ch;
		margin-block-end: 1lh;

		.nav li {
			display: inline-block;

			&:not(:last-child) {
				margin-right: 1em;
			}
		}
	}

	.global-footer {
		--margin: 1.5lh;

		margin-block-start: 2lh;
		width: 100%;
		max-width: var(--max-width);
		margin-inline: auto;

		& address {
			font-style: unset;
		}
	}

	.global-footer::before {
		display: block;
		content: "";
		padding-block-start: var(--margin);
		border-block-start: 1px dotted
			color-mix(in hsl, currentColor 20%, transparent);
	}

	main {
		max-width: var(--max-width);
		margin-inline: auto;
	}
}

@layer posts {
	.postlist {
		list-style-type: none;

		.postlist-item {
			--border-opacity: 10%;
			--border-color: currentColor;

			max-width: unset;
			background-color: color-mix(in hsl, currentColor 5%, transparent);
			padding: 0.5lh 1em;
			border-radius: 0.25lh;
			border: 1px solid
				color-mix(
					in hsl,
					var(--border-color) var(--border-opacity),
					transparent
				);

			transition: border-color 100ms ease-out;

			.title {
				display: block;
				font-weight: bolder;
				margin-block-end: 0.2lh;
				max-width: max-content;
			}

			.lead {
				margin-block: 0 0.2lh;
				font-size: smaller;
			}

			.date {
				opacity: var(--muted);
			}

			&:not(:last-of-type) {
				margin-block-end: 1lh;
			}

			&:has(.title:hover) {
				--border-opacity: 15%;
				--border-color: var(--accent);
			}
		}
	}

	.post {
		& header {
			--margin: 1.5lh;
			margin-block-end: var(--margin);

			.published {
				opacity: var(--muted);
				font-size: smaller;
				margin-block-end: 0;
			}

			&::after {
				display: block;
				content: "";
				padding-block-end: var(--margin);
				border-block-end: 1px dotted
					color-mix(in hsl, currentColor 20%, transparent);
			}
		}

		.post-footer {
			margin-block: 3lh;
			font-size: smaller;

			.tag-list {
				list-style: none;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: 1ch;

				.tag {
					display: inline-block;
					border: 1px solid
						color-mix(
							in hsl,
							var(--accent) var(--decoration-opacity),
							transparent
						);
					background-color: color-mix(in hsl, var(--accent) 2%, transparent);
					line-height: 1;
					padding: 0.5ex 0.75em;
					border-radius: 2lh;
					text-decoration: none;
					text-box-trim: trim-end;
					transition: border 100ms ease-out;
				}
			}
		}
	}
}
