@layer reset, base, global, state, components, pages;

@layer base {
	:root {
		--accent: light-dark(hsl(210, 92%, 37%), hsl(68, 78%, 82%));
		--muted: 75%;
		--max-width: 90ch;

		--animation-speed-fast: 0ms linear;
		--decorative-border-thickness: 1px;
		--decorative-border-opacity: 20%;
		--decorative-background-opacity: 2%;
		--decorative-background-padding: 0.5lh;

		--bold: 600;

		background-color: light-dark(hsl(50, 100%, 99%), hsl(42, 100%, 1%));

		@media (prefers-reduced-motion: no-preference) {
			--animation-speed-fast: 200ms ease-out;
		}

		@media (prefers-color-scheme: dark) {
			--decorative-border-opacity: 50%;
			--decorative-background-opacity: 4%;
		}

		/* biome-ignore lint/correctness/noUnknownMediaFeatureName: This is a valid media query */
		@media ((prefers-contrast: more) or (prefers-reduced-transparency: reduce)) {
			--decorative-border-opacity: 100%;
			--decorative-background-opacity: 0%;
			--decorative-background-padding: 1px;
			--muted: 100%;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		max-width: 35ch;
		margin-block: 2lh 0.5lh;
		font-weight: var(--bold);
	}

	p,
	li {
		max-width: 55ch;
	}

	p {
		margin-block: 0.5lh 1lh;
	}

	ul,
	ol {
		margin-block: 1lh;
	}

	li:not(:last-of-type) {
		margin-block-end: 0.25lh;
	}

	a {
		--color: var(--accent);

		color: var(--color);
		text-underline-offset: 0.1lh;
		text-decoration-thickness: 0.05lh;
		text-decoration-color: color-mix(
			in hsl,
			var(--color) var(--decorative-border-opacity),
			transparent
		);
		transition: text-decoration-color var(--animation-speed-fast);

		& code {
			border: none;
			padding-inline: 0;
		}

		&:hover {
			--decorative-border-opacity: 100%;
		}

		&[download]::after {
			content: " 📂" / "";
			font-size: smaller;
		}

		&[hreflang="no"]::after {
			content: " 🇳🇴" / "";
			font-size: smaller;
		}

		&[target="_blank"]::after {
			content: " 👋" / "";
			font-size: smaller;
		}
	}

	code,
	pre {
		font-family:
			"SF Mono", Menlo, Consolas, "Liberation Mono", "Courier New", monospace;
	}

	code {
		background-color: color-mix(in hsl, currentColor 3%, transparent);
		border: 1px solid color-mix(in hsl, currentColor 10%, transparent);
		padding-inline: 0.2em;
		border-radius: 0.1lh;
		font-size: smaller;
	}

	pre {
		--background-color: light-dark(hsl(219, 81%, 10%), hsl(137, 64%, 2%));
		--border: 1px solid
			hsl(from currentColor h s l / var(--decorative-border-opacity));

		background-color: var(--background-color);
		border: var(--border);
		font-size: smaller;
		border-radius: 0.5lh;
		padding: 1em;
		color: inherit;
		margin-block: 2lh 3lh;

		& code {
			background-color: transparent;
			border: none;
			padding-inline: unset;
			border-radius: unset;
			font-size: unset;
		}

		&:has([class*="language"]) {
			color: revert;
			padding-block-start: 0;

			&::before {
				box-sizing: border-box;
				position: sticky;
				inset-inline-start: 0;
				display: block;
				text-align: end;
				font-size: small;
				line-height: 1;
				padding: 1lh 0.5em;
				border-block-end: var(--border);
				text-transform: uppercase;
				margin-block-end: 1lh;
				opacity: var(--muted);
			}

			&[class*="html"]::before {
				content: "HTML";
			}

			&[class*="js"]::before {
				content: "Javascript";
			}
		}
	}

	blockquote {
		margin-inline: 0;
		padding: calc(var(--decorative-background-padding) * 2) 2ch
			var(--decorative-background-padding);
		background-color: color-mix(
			in hsl,
			currentColor var(--decorative-background-opacity),
			transparent
		);
		border-inline-start: 2px solid
			color-mix(
				in hsl,
				var(--accent) var(--decorative-border-opacity),
				transparent
			);
		margin-block: 2lh;
		width: fit-content;

		@media (prefers-contrast: more) {
			padding-block: 0;
		}
	}
}

@layer global {
	.global-header {
		max-width: var(--max-width);
		margin-inline: auto;
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		gap: 1ex 2ch;
		margin-block-end: 1lh;

		.nav {
			display: flex;
			margin: 0;
			justify-content: end;
			gap: 2ch;

			li {
				list-style-type: none;
			}
		}
	}

	.global-footer {
		--margin: 1.5lh;

		margin-block-start: 2lh;
		width: 100%;
		max-width: var(--max-width);
		margin-inline: auto;
		display: grid;
		grid: auto-flow / 64px 1fr;
		gap: var(--margin) 2ch;
		align-items: center;

		& address {
			font-style: unset;
		}

		&::before {
			display: block;
			grid-column: 1 / -1;
			content: "";
			border-block-start: 2px solid
				hsl(from var(--accent) h s l / var(--decorative-border-opacity));
		}
	}

	main {
		max-width: var(--max-width);
		margin-inline: auto;
	}

	.date {
		opacity: var(--muted);
	}
}

@layer state {
	:focus-visible {
		outline: 3px solid currentColor;
	}
}

@layer components {
	.avatar {
		border-radius: 50%;
		aspect-ratio: 1;
		border: 2px solid
			hsl(from var(--accent) h s l / var(--decorative-border-opacity));
		transition: border-color var(--animation-speed-fast);
	}

	.chip-group {
		list-style: none;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 1ch;

		li {
			margin-block-end: 0;
		}
	}

	.chip {
		display: inline-block;
		border: 1px solid
			color-mix(
				in hsl,
				var(--accent) var(--decorative-border-opacity),
				transparent
			);
		background-color: color-mix(
			in hsl,
			var(--accent) var(--decorative-background-opacity),
			transparent
		);
		line-height: 1;
		padding: 0.5ex 0.75em;
		border-radius: 2lh;
		text-decoration: none;
		text-box-trim: trim-end;
		transition: border var(--animation-speed-fast);

		&:hover {
			--decorative-border-opacity: 100%;
		}
	}
}

@layer pages {
	.postlist {
		list-style-type: none;
		display: grid;
		grid: auto-flow dense / repeat(auto-fit, minmax(min(35ch, 100%), 1fr));
		gap: 3px;

		.postlist-item {
			display: grid;
			grid: auto 1fr auto / auto-flow;
			gap: 0.25lh;
			margin: 0;
			background-color: color-mix(
				in hsl,
				currentColor var(--decorative-background-opacity),
				transparent
			);
			padding: 0.75lh 1.5em 1lh;
			border: 1px solid
				color-mix(
					in hsl,
					var(--accent) var(--decorative-border-opacity),
					transparent
				);

			transition: border-color var(--animation-speed-fast);

			.title {
				max-width: max-content;
			}

			.lead {
				margin: 0;
				font-size: smaller;
			}

			&:not(:has(.lead)) {
				grid: repeat(2, auto) / auto-flow;
			}

			.date {
				align-self: end;
			}

			&:has(.title:hover) {
				--decorative-border-opacity: 100%;
			}
		}

		.postlist-item:first-of-type {
			grid-row: 1 / 3;
			grid-template-rows: 1fr auto auto;

			.title {
				font-weight: var(--bold);
				align-self: end;
			}

			.lead {
				font-size: revert;
			}
		}
	}

	.post {
		& header {
			--margin: 1lh;
			margin-block-end: var(--margin);

			.date {
				font-size: smaller;
				margin-block-end: 0;
			}

			&::after {
				display: block;
				content: "";
				padding-block-end: var(--margin);
				border-block-end: 1px solid
					hsl(from var(--accent) h s l / var(--decorative-border-opacity));
			}
		}

		.post-footer {
			margin-block: 3lh;
			font-size: smaller;
		}
	}
}
