/*
 * New diff- syntax
 */
@layer reset {
	pre[class*="language-diff-"] {
		--eleventy-code-padding: 1.25em;
		padding-left: var(--eleventy-code-padding);
		padding-right: var(--eleventy-code-padding);
	}

	.token.deleted {
		background-color: hsl(0, 51%, 37%);
		color: inherit;
	}

	.token.inserted {
		background-color: hsl(126, 31%, 39%);
		color: inherit;
	}

	/* Make the + and - characters unselectable for copy/paste */
	.token.prefix.unchanged,
	.token.prefix.inserted,
	.token.prefix.deleted {
		align-items: center;
		display: inline-flex;
		justify-content: center;
		padding-bottom: 2px;
		padding-top: 2px;
		-webkit-user-select: none;
		user-select: none;
	}

	.token.prefix.inserted,
	.token.prefix.deleted {
		background-color: rgba(0, 0, 0, 0.2);
		width: var(--eleventy-code-padding);
	}

	/* Optional: full-width background color */
	.token.inserted:not(.prefix),
	.token.deleted:not(.prefix) {
		color: inherit; /* override del, ins, mark defaults */
		display: block;
		margin-left: calc(-1 * var(--eleventy-code-padding));
		margin-right: calc(-1 * var(--eleventy-code-padding));
		text-decoration: none; /* override del, ins, mark defaults */
	}
}