details {
	border: 1px solid var(--border-color);
	width: 100%;
	box-sizing: border-box;

	&[open] {
		summary {
			background-color: var(--interactive-bg-color-hover);
		}
	}

	&:has(summary:hover) {
		border-color: var(--border-hover-color);
	}

	summary {
		min-height: 44px;
		display: flex;
		align-items: center;
		cursor: pointer;
		padding-inline: 1ch 2ch;
		transition:
			var(--animation-ease-out) border-color,
			var(--animation-ease-out) background-color;

		&::before {
			content: "↓" / "";
			margin-inline-end: 1ch;
		}

		&:hover {
			background-color: var(--interactive-bg-color-hover);
		}
	}

	&[open] {
		summary::before {
			content: "↑" / "";
		}
	}

	> div {
		padding: 1ex;
	}
}
