details {
	border: 1px solid var(--border-color);
	width: 100%;
	box-sizing: border-box;

	summary {
		min-height: 44px;
		display: flex;
		align-items: center;
		cursor: pointer;
		padding-inline: 1ch 2ch;

		&::before {
			content: "↓";
			margin-inline-end: 1ch;
		}

		&:hover {
			background-color: hsl(from currentColor h s l / 0.05);
		}
	}

	&[open] {
		summary::before {
			content: "↑";
		}
	}

	> div {
		padding: 1ex;
	}
}
