.component-item {
	--padding: 1rem;
	container-type: inline-size;

	> div {
		box-sizing: border-box;
		height: 100%;
		padding: var(--padding);
		padding-block-end: 0;
		position: relative;

		@container (min-width: 500px) {
			--padding: 2rem;
		}

		&::after {
			background: linear-gradient(
				0deg,
				var(--border),
				hsl(from currentColor h s l / 0)
			);
			bottom: 0;
			content: "";
			height: 4lh;
			left: 0;
			position: absolute;
			transition:
				var(--animation-ease-out) background,
				border;
			width: 100%;
			z-index: 1;
		}
	}

	&:has(a:hover) {
		--border: hsl(from var(--accent-color) h s l / 0.2);
	}

	.name {
		margin-block: 0 0.5lh;

		a::after {
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 2;
		}
	}

	.image {
		align-items: center;
		display: grid;
		filter: saturate(0);
		justify-content: start;
		margin-block-end: 0;
		max-height: 10svh;
		max-width: 100%;
		overflow: hidden;
		transition: var(--animation-ease-out);
		z-index: 0;
	}

	&:hover {
		.image {
			filter: saturate(1);
		}
	}
}
