.meter {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"label"
		"meter"
		"value";
	align-items: center;
	column-gap: 2ch;
	width: 100%;

	@container (width > 400px) {
		grid-template-columns: 1fr auto;
		grid-template-areas:
			"label label"
			"meter value";
	}

	@container (width > 600px) {
		grid-template-columns: auto 1fr auto;
		grid-template-areas: "label meter value";
	}

	label {
		margin: 0;
		grid-area: label;
	}

	small {
		font-family: monospace;
		grid-area: value;
	}

	meter {
		width: 100%;
		grid-area: meter;
	}
}
