label:has(input[data-switch="true"]) {
	display: grid;
	grid-template-columns: 2.9em 1fr;
	gap: 2ch;
	align-items: center;
	padding-block: 0.25lh;
	padding-inline: 2ch;
	margin-inline: -2ch;
	border-radius: 2lh;

	> * {
		grid-row: 1;
	}

	/* Gjem selve input elementet */
	input {
		border: 0;
		clip: rect(0 0 0 0);
		height: auto;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		white-space: nowrap;
		grid-column: 3;
	}

	&:has(input[data-reverse="true"]) {
		grid-template-columns: 1fr 2.9em;

		.switch {
			grid-column: 2;
		}
	}

	&:has(input[data-full-width="true"]) {
		width: 100%;
	}

	.switch {
		display: flex;
		padding: 4px;

		&,
		.toggle {
			border-radius: 1lh;
			border: 1px var(--border-style) var(--border);
		}

		.toggle {
			display: flex;
			font-size: large;
			padding: 2px;
			margin: -1px;
		}
	}

	.check {
		display: none;
	}

	&:has(input:checked) {
		.toggle {
			margin-inline-start: auto;
			background-color: var(--action);
		}

		.cross {
			display: none;
		}

		.check {
			display: inline-block;
		}
	}

	&:hover {
		background-color: var(--action);
	}

	&:has(input[disabled]) {
		.switch {
			border-style: dashed;
		}
	}

	&:not(:has(input[disabled])) {
		cursor: pointer;
	}

	@media (prefers-contrast: more) {
		&:has(input[data-full-width="true"]) {
			.text {
				display: grid;
				grid-template-columns: auto 1fr;
				align-items: center;
				gap: 2ch;
			}

			> .text::after {
				content: "";
				width: 100%;
				height: 1px;
				border-block-end: 1px dotted var(--border);
			}
		}
	}
}
