input {
	font-size: medium;
	min-height: 44px;
	padding-inline: 1ch;

	+ span.suffix {
		margin-inline-start: 1ch;
	}
}

label {
	display: block;
	width: fit-content;
	max-width: 100%;

	&:has(input) {
		cursor: pointer;
		display: flex;
		min-height: 44px;
		align-items: center;
		gap: 0.5ch;
		width: fit-content;
		max-width: 100%;

		input {
			cursor: pointer;
		}
	}

	&:has(+ input[required]),
	&:has(+ select[required]) {
		&::after {
			content: " (påkrevd)";
		}
	}

	+ input {
		margin-block-start: 0.25lh;
		margin-block-end: 1lh;
	}
}

fieldset {
	&:has(input[required]) {
		label::after {
			display: none;
		}

		legend::after {
			content: " (påkrevd)";
		}
	}
}
