label[data-toggle="true"] {
	--bg-color: Highlight;
	--border-color: Highlight;
	--text-color: HighlightText;

	display: grid;
	grid-template-columns: 2.5em 1fr;
	gap: 1ch;
	align-items: center;

	&[data-reverse="true"] {
		grid-template-columns: 1fr 2.5em;

		.toggle {
			grid-row: 1;
			grid-column: 2;
		}
	}

	&[data-full-width="true"] {
		width: 100%;
	}

	input {
		border: 0;
		clip: rect(0 0 0 0);
		height: auto;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		white-space: nowrap;
		grid-column: 3;
	}

	.toggle {
		display: flex;
		align-items: center;
		justify-content: start;
		background-color: var(--interactive-bg-color);
		color: HighlightText;
		padding: 4px;
		transition: var(--animation-ease-out) all;

		&,
		svg {
			border-radius: 1lh;
			box-sizing: border-box;
			max-height: 1lh;
			border: 1px solid var(--border-color);
		}

		svg {
			background-color: var(--bg-color);
			color: var(--text-color);
		}
	}

	.check {
		display: none;
	}

	&:has(input:checked) {
		.cross {
			display: none;
		}

		.check {
			display: inline-block;
		}

		.toggle {
			justify-content: end;
			background-color: hsl(from var(--bg-color) h s l / 0.1);
			border-color: var(--border-color);

			svg {
				background-color: var(--bg-color);
				border-color: var(--border-color);
				color: var(--text-color);
			}
		}
	}

	&:has(input[disabled]) {
		.toggle {
			border-style: dashed;
		}
	}

	&:not(:has(input[disabled])) {
		cursor: pointer;
	}

	@media (prefers-contrast: more) {
		--bg-color: light-dark(white, black);
		--border-color: light-dark(black, white);
		--text-color: light-dark(black, white);
	}
}
