pre {
	margin-block: 0;
	white-space: pre-wrap;
	background-color: var(--color-bg-muted);
	border: var(--border);
	border-radius: 0.25lh;
	padding: 0.5lh 2ch;
	overflow: hidden;
	position: relative;

	&[data-language] {
		&::before {
			display: block;
			content: "." attr(data-language);
			text-transform: uppercase;
			margin-block-end: 1lh;
			text-align: end;
		}
	}
}
