:root {
  color-scheme: light dark;

  --max-width: 55ch;

  --separator-color: oklch(from currentColor l c h / 0.2);
  --separator-style: solid;
  --separator-thickness: 1px;
  --separator: var(--separator-thickness) var(--separator-style) var(--separator-color);

  --accent-color: light-dark(green, darkgreen);
}

body {
  margin: 0;
  margin-inline: auto;
  padding: 1ch;
  line-height: 1.5;
}

p, li {
  max-width: var(--max-width);
}

h2, h3, h4, h5, h6 {
  margin-block: 2lh 0.25lh;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;

  + p, + ul {
    margin-block-start: 0;
  }
}

main {
  max-width: var(--max-width);
  margin-inline: auto;
}
