@layer base, components;
@import url("./components.css");

:root {
    --accent-color: oklch(0.48 0.145 252.327);

    color-scheme: light dark;
}

@layer base {
    :focus-visible {
        outline: 3px solid currentColor;
        outline-offset: 5px;
    }

    body {
        accent-color: var(--accent-color);
        font: 400 1em / 1.5 system-ui;

        main {
            max-width: 66ch;
            margin-inline: auto;
        }

        footer {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            margin-block-start: 2lh;

            img {
                height: 36px;
                outline: 1px solid color-mix(in srgb, transparent 75%, currentcolor);
                object-fit: contain;
            }
        }
    }

    menu,
    ol.links {
        padding: 0;

        li {
            display: inline-block;
            margin-inline-end: 1ch;
        }
    }

    a {
        text-underline-offset: 0.1lh;
        text-decoration-thickness: 1px;
    }

    button {
        font: inherit;
        min-width: 44px;
        padding: 0.4ex 0.75ch;
        cursor: pointer;
        transform: none;
        border-radius: 3px;

        &:hover {
            transition: transform 0.1s ease-in-out;
        }

        &:active {
            transform: translateY(1q);
        }
    }

    pre, code {
        color-scheme: only dark;
        font: inherit;
        font-family: "PT Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
        background: light-dark(white, #202020);
        color: light-dark(#202020, white);
    }

    code {
        padding-inline: 0.4ch;
    }

    pre {
        display: flex;
        flex-direction: column;

        code {
            background: transparent;
        }
    }
}