html {
	color-scheme: light dark;
}

body {
	font: 400 medium/1.7 system-ui;
	margin-block: 0;
	margin-inline: auto;
	max-width: 120ch;
	padding-block-end: 2lh;
	padding-inline: 2ch;
}

a {
	margin-inline: -0.25ch;
	padding-inline: 0.25ch;
	text-underline-offset: 0.1lh;

	&:hover {
		background: oklch(from currentColor l c h / 0.2);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	&::after {
		margin-inline-start: 0.5ch;
	}

	&:is(h1)::after {
		content: "🪿" / "";
	}

	&:is(h2)::after {
		content: "🦆" / "";
	}

	&:is(h3)::after {
		content: "🐝" / "";
	}
}

p,
li,
dd {
	max-width: 60ch;
}

p {
	&[role="note"] {
		background: oklch(from currentColor l c h / 0.05);
		border-inline-start: 1px dashed currentColor;
		margin-inline-start: -1ch;
		padding-block: 2ex;
		padding-inline: 1ch 3ch;
	}
}

button,
input,
label,
legend,
select {
	font: inherit;
}

label:has(+input, +select), fieldset {
	display: block;
	margin-block-start: 1lh;
	max-inline-size: fit-content;
}

button,
input:not([type="checkbox"], [type="radio"]),
select {
	min-block-size: 44px;
	min-inline-size: 44px;
}

select {
	padding-inline-end: 3ch;
}

label:has(input:is([type="checkbox"], [type="radio"])) {
	display: block;
}

form footer {
	margin-block-start: 1lh;

	& button {
		display: block;
		margin-block-end: 1ex;
	}
}

output.toast[popover]:popover-open {
	--margin: 5%;
	box-sizing: border-box;
	inset: auto var(--margin) var(--margin) auto;
	max-width: 60ch;
	position: fixed;
	width: 90%;

	& h2 {
		font-size: medium;
		margin: 0;

		&::after {
			content: "";
		}
	}
}