html {
    color-scheme: light dark;
}

body {
    margin-block: 0;
    margin-inline: auto;
    padding-inline: 2ch;
    padding-block-end: 2lh;
    max-width: 120ch;
    font: 400 medium/1.7 system-ui;
}

a {
    padding-inline: 0.25ch;
    margin-inline: -0.25ch;
    text-underline-offset: 0.1lh;

    &:hover {
        background: oklch(from currentColor l c h / 0.2);
    }

    &[rel="external"]::after {
        content: " (ekstern)";
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-block: 2lh 0.5lh;
    line-height: 1.2;
    font-weight: 500;

    &::after {
        margin-inline-start: 0.5ch;
    }

    &:is(h1) {
        font-size: xxx-large;
        font-weight: 800;
        margin-block-start: 1lh;

        &::after {
            content: "🪿" / "";
        }
    }

    &:is(h2) {
        font-size: xx-large;
        font-weight: 600;

        &::after {
            content: "🦆" / "";
        }

        + * {
            margin-block-start: 0;
        }
    }

    &:is(h3) {
        font-size: x-large;
        font-weight: 600;

        &::after {
            content: "🐝" / "";
        }
    }
}

ul, ol {
    margin-block-end: 1lh;
}

p, li, dd {
    margin-block-end: 0.5lh;
    max-width: 60ch;
}

p {
    &[role="note"] {
        background: Highlight;
        color: HighlightText;
        padding: 1ex 3ch 1ex 1ch;
        border-inline-start: 1px dashed HighlightText;
        margin-inline-start: -1ch;
    }
}

button, input, label, legend, select {
    font: inherit;
}

label {
    &:has(+input) {
        display: block;
        margin-block-start: 1lh;
    }
}

legend {
    margin-block: 2lh 1ex;
    font-weight: 600;
}

fieldset {
    margin-block: 2lh 1ex;
    padding: 0;
    border: none;
}

button, input[type="button"],input[type="submit"],input[type="reset"] {
    &:not(:has(+ button, input[type="button"],input[type="submit"],input[type="reset"])) {
        margin-block-start: 2lh;
        display: block;
    }
}

dl {
    display: grid;
    grid: auto-flow / max-content 1fr;
    gap: 1ex 2ch;

    dt {
        font-weight: 600;
        max-width: 30ch;
    }

    dd {
        margin: 0;
    }
}