.page {
	--spacing: 4ch;

	margin-inline: auto;
	max-width: var(--page-width);

	> header {
		grid-area: header;
	}

	> div {
		grid-area: main;
	}

	> aside {
		grid-area: complementary;
	}

	&:has(> aside) {
		@media (min-width: 120ch) {
			display: grid;
			gap: 1lh 12ch;
			grid-template-areas:
				"header header"
				"main complementary";
			grid-template-columns: 1fr 33ch;
		}
	}
}
