.page {
	--spacing: 4ch;

	max-width: 90ch;
	margin-inline: auto;

	> header {
		grid-area: header;
	}

	> div {
		grid-area: main;
	}

	> aside {
		grid-area: complementary;
	}

	&:has(> aside) {
		@media (min-width: 120ch) {
			max-width: 140ch;
			display: grid;
			grid-template-columns: 1fr 33ch;
			grid-template-areas:
				"header header"
				"main complementary";
			gap: 1lh 12ch;
		}
	}
}
