@layer default, component, state, page;

@layer default {
    :root {
        color-scheme: light dark;

        --green: oklch(0.75 0.1597 147.47);
        --red: oklch(0.62 0.2097 27);
        --yellow: oklch(0.93 0.24 110.29);
        --blue: oklch(0.5 0.8 200);

        --color-text-light: lch(from var(--color-bg) 0 c h);
        --color-text-dark: lch(from var(--color-bg) 100 c h);

        --color-bg: light-dark(lch(from var(--blue) 97 0 h), lch(from var(--blue) 15 0 h));
        --color-bg-surface: light-dark(
                lch(from var(--color-bg) 99 calc(c + 2) h),
                lch(from var(--color-bg) 7 calc(c + 2) h)
        );
        --color-border: light-dark(lch(from var(--color-bg) 90 0 h), lch(from var(--color-bg) 25 0 h));
        --color-text: light-dark(var(--color-text-light), var(--color-text-dark));
        --color-text-muted: light-dark(lch(from currentColor 10 c h), lch(from currentColor 90 c h));
        --color-link: currentColor;

        --border: 1px solid var(--color-border);

        --max-text-length: 55ch;
        --max-width: calc(var(--max-text-length) + 40ch);

        --sans: system-ui;
        --mono: monospace;

        --fw-thin: 200;
        --fw-light: 300;
        --fw-regular: 400;
        --fw-medium: 500;
        --fw-semibold: 600;
        --fw-bold: 700;
        --fw-extrabold: 800;
        --fw-black: 900;

        --lh-1: 1;
        --lh-sm: 1.5;
        --lh-md: 1.9;

        --size-xxl: 1.7rem;
        --size-xl: 1.5rem;
        --size-lg: 1.3rem;
        --size-md: 1rem;
        --size-sm: 0.95rem;

        --heading-1: var(--fw-bold) var(--size-xxl) / var(--lh-sm) var(--sans);
        --heading-2: var(--fw-medium) var(--size-xl) / var(--lh-sm) var(--sans);
        --heading-3: var(--fw-medium) var(--size-lg) / var(--lh-sm) var(--sans);
        --heading-4: var(--fw-semibold) var(--size-md) / var(--lh-sm) var(--sans);
        --heading-5: var(--fw-regular) var(--size-md) / var(--lh-sm) var(--sans);
        --body: var(--fw-regular) var(--size-md) / var(--lh-md) var(--sans);
        --small: var(--fw-regular) var(--size-sm) / var(--lh-md) var(--sans);
        --code: var(--fw-regular) var(--size-sm) / var(--lh-md) var(--mono);

        --spacing-ch-1: 1ch;
        --spacing-ch-2: 2ch;

        --spacing-ch-sm: var(--spacing-ch-1);
        --spacing-ch-md: var(--spacing-ch-2);

        --spacing-lh-05: 0.5lh;
        --spacing-lh-10: 1lh;
        --spacing-lh-15: 1.5lh;
        --spacing-lh-20: 2lh;

        --spacing-lh-xs: var(--spacing-lh-05);
        --spacing-lh-sm: var(--spacing-lh-10);
        --spacing-lh-md: var(--spacing-lh-15);
        --spacing-lh-lg: var(--spacing-lh-20);

        --spacing-rem-05: 0.5rem;
        --spacing-rem-10: 1rem;
        --spacing-rem-20: 2rem;
        --spacing-rem-40: 4rem;
        --spacing-rem-80: 8rem;

        --spacing-rem-xs: var(--spacing-rem-05);
        --spacing-rem-sm: var(--spacing-rem-10);
        --spacing-rem-md: var(--spacing-rem-20);
        --spacing-rem-lg: var(--spacing-rem-40);
        --spacing-rem-xl: var(--spacing-rem-80);

        /* Transitions timings */
        --pop-up: cubic-bezier(0.7, 3, 1, 1);
    }

    *:focus-visible {
        outline: 4px solid currentColor;
        outline-offset: 0.5ch;
    }

    body {
        background-color: var(--color-bg);
        font: var(--body);
        color: var(--color-text);
        margin: 0;
    }

    h1 {
        font: var(--heading-1);
    }

    h2 {
        font: var(--heading-2);
    }

    p {
        max-width: var(--max-text-length);
    }

    a {
        text-decoration-color: currentColor;
        color: var(--color-link);
        text-underline-offset: 0.3ex;
        text-decoration-thickness: 0.1ex;
        text-decoration-style: solid;

        &:hover {
            text-decoration-thickness: 0.3ex;
        }
    }
}
