button {
	min-height: 44px;
	min-width: 44px;
	font-size: medium;
	padding-inline: 1.5ch;
	border: 1px solid var(--border-color);
	background-color: transparent;
	transition:
		var(--animation-ease-out) border-color,
		var(--animation-ease-out) background-color;

	&:has(svg) {
		display: grid;
		grid-template-columns: 1fr 24px;
		align-items: center;
		gap: 6px;

		svg {
			height: 24px;
			width: 24px;
		}

		&[data-icon-position="start"] {
			grid-template-columns: 24px 1fr;
		}

		&[disabled] {
			grid-template-columns: 1fr;

			svg {
				display: none;
			}
		}
	}

	&:not([disabled], [aria-disabled]) {
		cursor: pointer;

		&:hover {
			background-color: var(--hover-color);
			border-color: var(--border-hover-color);
		}

		&:active {
			transition-property: none;
			background-color: var(--active-color);
		}
	}
}

.button-group {
	display: flex;
	gap: 1ch;

	&[data-pill="true"] {
		gap: 0;

		button {
			margin-inline-end: -1px;

			&:first-of-type {
				border-end-start-radius: 1lh;
				border-start-start-radius: 1lh;
			}

			&:last-of-type {
				border-end-end-radius: 1lh;
				border-start-end-radius: 1lh;
			}
		}

		&[data-reverse] {
			flex-direction: row-reverse;

			button {
				border-radius: 0;

				&:first-of-type {
					border-end-end-radius: 1lh;
					border-start-end-radius: 1lh;
				}

				&:last-of-type {
					border-end-start-radius: 1lh;
					border-start-start-radius: 1lh;
				}
			}
		}
	}
}
