pre {
	font-family: monospace;
	padding: 0.5lh 2ch;
	font-size: medium;
	white-space: pre-wrap;
	background-color: light-dark(
		oklch(0.9783 0 157.76),
		oklch(0.1499 0.0061 116.16)
	);
	border: 1px solid
		light-dark(oklch(0.9283 0 157.76), oklch(0.2099 0.0061 116.16));
}
