.component-example {
	--spacing: 4lh;

	margin-block-end: var(--spacing);

	.info {
		p {
			font-size: large;
		}
	}

	.showcase {
		max-width: 100%;
		display: grid;
		grid-template-rows: 1fr auto;

		> * {
			width: 100%;
		}

		> details {
			margin-block-start: -1px;

			div {
				max-height: 10lh;
				overflow: scroll;
			}
		}

		> .resizer {
			height: 100%;
		}
	}

	@container (min-width: 95ch) {
		&[data-columns="true"] {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 4ch;

			&:not(:last-of-type) {
				padding-block-end: var(--spacing);
				border-block-end: 1px solid var(--border);
			}

			.info {
				padding-block: 1lh;
			}

			.showcase > .resizer {
				max-height: 80svh;
			}
		}
	}
}
