.component-example {
	min-width: 20ch;
	width: 100%;

	.info {
		p {
			font-size: large;
		}
	}

	.showcase {
		display: grid;
		grid-template-rows: 1fr auto;
		max-width: 100%;

		> * {
			width: 100%;
		}

		> details {
			margin-block-start: -1px;

			div {
				max-height: 10lh;
				overflow: scroll;
			}
		}

		> .resizer {
			height: 100%;
		}
	}
}
