.component-example {
	display: grid;
	grid-template-columns: 1fr;

	@container (width > 800px) {
		grid-template-columns: repeat(2, 1fr);
	}

	.showcase {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1lh;
	}

	.title {
		margin: 0;
		max-width: 100%;
	}
}
