---js
const numberOfLatestPostsToShow = 3;
---

<h1><span lang="no">Hei</span></h1>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2 class="sr">Posts</h2>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
	<p>
		<a href="blog.njk">Older posts</a>
	</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
		<li>
			<a href="{{ entry.url }}"><code>{{ entry.url }}</code></a>
		</li>
	{%- endfor %}
</ul>
#}