table {
	--border-color: color-mix(in srgb, currentColor 20%, Field);
	--border: 1px solid var(--border-color);

	border: var(--border);
	border-collapse: collapse;
    width: 100%;

	th,
	td {
		border: var(--border);
		padding: 0.7ex 1ch;
        font-family: system-ui;
        text-align: start;
	}

    caption {
        text-align: start;
        caption-side: bottom;
        margin-block-start: 0.7ex;
    }
}
