.pattern-feature {
  min-height: 16rem;
}

.pattern-feature__bg {
  position: absolute;
  inset: 0;
  overflow: hidden;

  > * {
    width: 100%;
    height: 100%;
  }
}

.pattern-feature__content {
  position: relative;
  z-index: 2;
  height: 100%;
  padding: var(--jkl-spacing-m);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--jkl-spacing-xs);
}

.pattern-feature__title {
  font-size: var(--jkl-font-size-4);
  font-weight: 600;
  line-height: var(--jkl-line-height-tight);
}

.pattern-feature__excerpt {
  margin: 0;
  max-width: 50ch;
}

