.text-input {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"label"
		"input";
	gap: 0.7ex;
	font-family: system-ui;

	label {
		grid-area: label;
	}

	input {
		grid-area: input;
		min-width: 10ch;
	}
}
