.global-footer {
	p {
		margin: 0;
		background-size: 10ch auto;
	}

	.trans {
		background: linear-gradient(
			to right,
			rgb(85, 205, 252),
			rgb(179, 157, 233),
			rgb(247, 168, 184),
			rgb(246, 216, 221),
			rgb(255, 255, 255) 45%,
			rgb(255, 255, 255),
			rgb(255, 255, 255) 55%,
			rgb(246, 216, 221),
			rgb(247, 168, 184),
			rgb(179, 157, 233),
			rgb(85, 205, 252)
		);
		background-size: 30ch auto;
		background-clip: text;
		color: light-dark(currentColor, transparent);
		text-shadow: none;
	}

	.palestine {
		background: linear-gradient(
			to right,
			rgb(20, 153, 84),
			rgb(228, 49, 43),
			rgb(255, 255, 255),
			rgb(0, 0, 0)
		);
		background-size: 14ch auto;
		background-clip: text;
		color: light-dark(currentColor, transparent);
		text-shadow: none;
	}
}
