.blog-resources {
    padding-block: var(--jkl-spacing-xl);
    border-top: 1px solid var(--jkl-color-border-subdued);
}

.blog-resources__heading {
    margin-block-end: var(--jkl-spacing-m);
    font-size: var(--jkl-font-size-4);
}

.blog-resources__description {
    margin: var(--jkl-spacing-xxs) 0 0;
    font-size: var(--jkl-font-size-2);
    color: var(--jkl-color-text-subdued);
}
