.playground {
	margin-block-end: 4lh;
	padding-block: 2lh;
	position: relative;

	&::after {
		content: "";
		width: 100vw;
		height: 100%;
		margin-left: calc(50% - 50vw);
		background-color: light-dark(
			oklch(0.9783 0 157.76),
			oklch(0.1499 0.0061 116.16)
		);
		border-block: 1px solid
			light-dark(oklch(0.9283 0 157.76), oklch(0.2099 0.0061 116.16));
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
	}

	@container (width > 800px) {
		display: grid;
		grid-template-columns: 380px 1fr;
		gap: 2lh;
	}

	.controls {
		margin-block-end: 2lh;
		> details > div {
			display: grid;
			gap: 1lh 2ch;
			grid-template-columns: repeat(2, 1fr);

			.range,
			p {
				grid-column: 1 / -1;
				margin: 0;
			}
		}
	}
}
