.playground {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"controls"
		"output"
		"code";
	gap: 2lh 4lh;
	background-color: transparent;
	resize: horizontal;
	overflow: hidden;
	margin-block-end: 4lh;

	@container (width > 800px) {
		grid-template-columns: 320px 1fr;
		grid-template-areas:
			"controls output"
			"controls code";
	}

	.controls {
		grid-area: controls;

		> details > div {
			display: grid;
			gap: 1lh 2ch;
			grid-template-columns: repeat(2, 1fr);

			.range {
				grid-column: 1 / -1;
			}
		}
	}

	output {
		box-sizing: border-box;
		grid-area: output;
		min-height: 20vh;
		padding-block: 1lh;
		container-type: inline-size;
	}

	> pre {
		grid-area: code;
	}
}
