.playground {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"controls"
		"output"
		"code";
	gap: 2lh 4lh;
	border: 2px dotted
		light-dark(oklch(0.8494 0.0457 163.76), oklch(0.3494 0.0457 163.76));
	background-color: transparent;
	padding: 1lh;
	resize: horizontal;
	overflow: hidden;

	@container (width > 800px) {
		grid-template-columns: 1fr 320px;
		grid-template-areas:
			"output controls"
			"code controls";
		padding: 2lh;
	}

	.controls {
		grid-area: controls;

		> details > div {
			display: grid;
			gap: 1lh 2ch;
			grid-template-columns: repeat(2, 1fr);

			.range {
				grid-column: 1 / -1;
			}
		}
	}

	output {
		box-sizing: border-box;
		grid-area: output;
		min-height: 20vh;
		padding-block: 1lh;
		container-type: inline-size;
	}

	> pre {
		grid-area: code;
	}
}
