.global-header {
	max-width: var(--page-width);
	margin-inline: auto;
	padding-block: 1lh;
	padding-inline: var(--page-padding);

	ul {
		list-style: none;
		padding-inline-start: 0;
		margin: 0;

		li {
			margin: 0;
			margin-inline-end: 2ch;
			display: inline;
			font-size: large;

			a[aria-current="page"] {
				font-weight: bold;
			}
		}
	}
}
