.post-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.post-card__image {
    height: 14rem;
    object-fit: cover;
}

.post-card__body {
    display: flex;
    flex-direction: column;
    gap: var(--jkl-spacing-s);
    padding-block-start: var(--jkl-spacing-m);
    flex: 1;
}

.post-card__title {
    margin: 0;
}

.post-card__excerpt {
    color: var(--jkl-color-text-subdued);
    margin: 0;
    line-height: var(--jkl-line-height-relaxed);
}
