<ol class="post-list" reversed role="list" style="--postlist-index: {{ (postslistCounter or postslist.length) + 1 }}" aria-label="Posts">
	{%- for post in postslist | reverse %}
		<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
			<div class="info">
				<a class="title" href="{{ post.url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						<code>{{ post.url }}</code>
					{% endif %}
				</a>

				<p class="lead">
				{% if post.data.description %}
					<span>{{ post.data.description }}</span>
				{% endif %}
				<span class="muted">
					Posted <time class="postlist-date" datetime="{% if post.data.created %}{{post.data.created | htmlDateString }}{% else %}{{post.date | htmlDateString }}{% endif %}">{% if post.data.created %}{{post.data.created | readableDate }}{% else %}{{post.date | readableDate }}{% endif %}</time>
				</span>
				</p>
			</div>

			{# {% if post.data.image %}
				<img width="800" height="600" src="blog/img/{{post.data.image}}" alt="{% if post.data.imageAlt %}{{post.data.imageAlt}}{% else %}{% endif %}"/>
			{% endif %} #}
		</li>
	{%- endfor %}
</ol>