.migration-example {
    display: flex;
    flex-direction: column;
    gap: var(--jkl-spacing-s);

    &__title {
        margin-block: 0;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: var(--jkl-spacing-xs);
    }

    &__block-label {
        font-size: var(--jkl-font-size-s);
    }
}
