@use "@fremtind/jokul/styles/core/jkl" as jkl;

.site-footer__inner {
    position: relative;
    z-index: 1;
    max-width: calc(120ch - 2rem);
    margin-inline: auto;
    padding-inline: 1rem;
    padding-block: var(--jkl-spacing-xl);
}
