button {
  anchor-name: --popover-button;
}

[popover] {
  padding: 1ex 1ch;
  border: 1px solid oklch(from currentColor l c h /0.2);
  box-shadow: 0 0 1lh oklch(from currentColor l c h / 0.2);
  position-anchor: --popover-button;
  inset-block-start: anchor(bottom);
  inset-inline-start: anchor(left);

  @supports (position-anchor: --popover-button) {
    position: absolute;
    margin: 0;
  }
}
