input[type="tel"] {
	max-width: 15ch;

	&[autocomplete="tel-country-code"] {
		max-width: 5ch;
	}
}

fieldset:has(input[autocomplete*="tel"]) {
	display: grid;
	grid-template-columns: 9ch 18ch;
	gap: 0 2ch;

	label {
		grid-row: 1;
	}
}
