input[type="tel"] {
	max-width: 15ch;

	&[autocomplete="tel-country-code"] {
		max-width: 5ch;
	}
}

fieldset:has(input[autocomplete*="tel"]) {
	/* https://piccalil.li/blog/visually-hidden/ */
	label {
		border: 0;
		clip: rect(0 0 0 0);
		height: auto;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		white-space: nowrap;
	}

	input {
		margin-inline-end: 1ch;
	}
}
