menu {
	list-style: none;
	padding-inline-start: 0;
	width: 100%;

	li {
		width: max-content;
		display: inline-block;
		margin-inline-end: 2ch;
	}

	&[data-show-label]::before {
		content: attr(aria-label);
		display: block;
		font-weight: 500;
		font-size: large;
		font-family: system-ui;
		margin-block-end: 0.7ex;
	}
}
