menu {
	display: flex;
	padding: 0;
	gap: 1lh;
	margin: 0;
	list-style: none;
	align-items: center;

	&[data-show-label]::before {
		content: attr(aria-label);
		font-weight: 500;
		font-size: large;
	}
}
