.resizer {
	margin: 0;
	box-sizing: border-box;
	resize: attr(data-resize);
	min-height: fit-content;
	height: fit-content;
	max-height: 100dvh;
	overflow: scroll;
	border: 1px solid var(--border-color);
	display: flex;
	justify-content: center;
	align-items: center;

	&[data-padding="true"] {
		padding: 1lh;
	}

	@supports not (attr(data-resize)) {
		&[data-resize="both"] {
			resize: both;
		}

		&[data-resize="vertical"] {
			resize: vertical;
		}

		&[data-resize="horizontal"] {
			resize: horizontal;
		}

		&[data-resize="none"] {
			resize: none;
		}
	}

	> div {
		max-height: 100%;
		max-width: 100%;
	}

	figcaption {
		/* https://piccalil.li/blog/visually-hidden/ */
		border: 0;
		clip: rect(0 0 0 0);
		height: auto;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		white-space: nowrap;

		/* Hvis jeg finner ut hvordan jeg vil den skal se ut: */
		text-align: center;
	}
}
