.resizer {
	align-items: center;
	aspect-ratio: 16 / 9;
	border: 1px solid var(--border);
	box-sizing: border-box;
	display: grid;
	height: fit-content;
	justify-content: center;
	margin: 0;
	max-height: 100dvh;
	min-height: fit-content;
	overflow: scroll;
	resize: attr(data-resize);

	> div {
		max-height: 100%;
		max-width: 100%;
		padding: 1cqmax;
	}

	&[data-boxed="false"] {
		> div {
			display: contents;
		}
	}

	@supports not (attr(data-resize)) {
		&[data-resize="both"] {
			resize: both;
		}

		&[data-resize="vertical"] {
			resize: vertical;
		}

		&[data-resize="horizontal"] {
			resize: horizontal;
		}

		&[data-resize="none"] {
			resize: none;
		}
	}

	figcaption {
		/* https://piccalil.li/blog/visually-hidden/ */
		border: 0;
		clip: rect(0 0 0 0);
		height: auto;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		text-align: center;
		white-space: nowrap;

		/* Hvis jeg finner ut hvordan jeg vil den skal se ut: */
		width: 1px;
	}
}
