.range {
	display: grid;
	grid-template-columns: 1fr 5ch;
	align-items: center;
	grid-template-areas:
		"label label"
		"input value";
	width: 100%;
	gap: 0.7ex 1ch;
	font-family: system-ui;

	label {
		grid-area: label;
	}

	input {
		grid-area: input;
		width: 100%;
		accent-color: FieldText;

		&::-webkit-slider-runnable-track {
			background-color: Field;
			border-radius: 1lh;
		}

		&::-webkit-slider-thumb {
			background-color: FieldText;
		}
	}

	small {
		content: attr(value);
		grid-area: value;
		font-family: monospace;
	}
}
