.range {
	display: grid;
	grid-template-columns: 1fr max-content;
	align-items: center;
	grid-template-areas:
		"label label"
		"input value";
	width: 100%;
	gap: 0.7ex 1ch;
	font-family: system-ui;

	label {
		grid-area: label;
	}

	input {
		grid-area: input;
		width: 100%;
	}

	small {
		content: attr(value);
		grid-area: value;
		font-family: monospace;
	}
}
