details {
	width: 100%;
	box-sizing: border-box;
	border: var(--border);

	&:has(+ details) {
		border-block-end: 0;
	}

	summary {
		min-height: 44px;
		display: grid;
		align-items: center;
		padding-inline: 12px 2ch;
		grid-template-columns: 24px 1fr;

		&::before {
			content: "↓" / "";
		}
	}

	&[open] {
		border: 1px solid var(--color-text);

		summary {
			&::before {
				content: "↑" / "";
			}
		}
	}

	> div {
		padding: 1.5ex calc(24px + 12px) 2ex calc(24px + 12px);
		border-block-start: var(--border);
	}
}
