details {
	--border: 1px solid color-mix(in srgb, currentColor 20%, Field);

	border: 1px solid transparent;
	border-inline-start: var(--border);

	summary {
		padding: 1ex;
		cursor: pointer;
		font-family: system-ui;
	}

	> div {
		padding: 0.5lh 1lh 1lh 1lh;
	}

	&:not(:only-of-type) {
		border-inline: var(--border);
		border-block-start: var(--border);
		background-color: light-dark(oklch(0.99 0 157.76), oklch(0 0 116.16));
		border: 1px solid light-dark(oklch(0.95 0 157.76), oklch(0.3499 0 116.16));
		color: light-dark(oklch(0.2099 0.0061 116.16), oklch(1 0 157.76));

		&:has(+ details) {
			margin-block-end: -1px;
		}

		&:first-of-type {
			border-radius: 4px 4px 0 0;
		}

		&:last-of-type {
			border-radius: 0 0 4px 4px;
		}
	}
}
