body:has(.token-header) {
    padding-block-start: 0;
}

article:has(.token-header) {
    > .jkl-breadcrumb {
        position: relative;
        z-index: 10;
    }

    > .jkl-card {
        position: relative;
        z-index: 5;
    }
}

.token-toc-card {
    display: inline-block;
    margin-block-end: var(--jkl-spacing-2xl);
}

.token-article__meta {
    margin-block: var(--jkl-spacing-xl);
    padding-block: var(--jkl-spacing-m);
    border-block: 1px solid var(--jkl-color-border-subdued);
}
