@import url("./components/input/input.css");

:root {
	--border-color: hsl(from currentColor h s l / 0.1);
	--border-hover-color: hsl(from currentColor h s l / 0.5);

	--hover-color: hsl(from currentColor h s l / 0.025);
	--selected-color: hsl(from currentColor h s l / 0.075);
	--active-color: hsl(from currentColor h s l / 0.1);

	--animation-ease-out: 0.2s ease-out;

	@media (prefers-contrast: more) {
		--border-color: hsl(from currentColor h s l / 0.4);
	}

	@media (prefers-reduced-motion: reduce) {
		--animation-ease-out: 0;
	}

	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	color-scheme: light dark;
}

* {
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

h1 {
	font-size: xxx-large;
}

h2 {
	font-size: xx-large;
}

h3 {
	font-size: x-large;
}

h4 {
	font-size: large;
}

h5 {
	font-size: medium;
}

h6 {
	font-size: small;
}

p {
	max-width: 66ch;
	text-wrap: pretty;
	margin-block-end: 2lh;
}

pre {
	margin-block: 0;
	white-space: pre-wrap;
}

header,
main {
	margin-inline: auto;
	max-width: 90ch;
}

article {
	container-type: inline-size;
}

img,
figure {
	max-width: 100%;
}

ul.list-style-none {
	&,
	ul {
		list-style: none;
		padding-inline-start: 0;
		margin-block-end: 3lh;
	}
}
