:root {
	--page-width: 120ch;

	color-scheme: light dark;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
	display: contents;
}

* {
	line-height: 1.5;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-weight: 500;
	text-wrap: balance;
	margin-block: 1lh;
}

h1,
.h1 {
	font-size: xxx-large;
}

h2,
.h2 {
	font-size: xx-large;
}

h3,
.h3 {
	font-size: x-large;
}

h4,
.h4 {
	font-size: large;
}

h5,
.h5 {
	font-size: medium;
	font-weight: 500;
}

h6,
.h6 {
	font-size: small;
}

p {
	font-size: medium;
	max-width: 66ch;
	text-wrap: pretty;

	&:not(:last-of-type) {
		margin-block-end: 2lh;
	}
}

a {
	text-underline-offset: 0.1lh;
}

main {
	container-type: inline-size;
	margin-inline: auto;
	max-width: var(--page-width);
}
