@import url("./components/input/input.css");

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	color-scheme: light dark;
}

* {
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

h1 {
	font-size: xxx-large;
}

h2 {
	font-size: xx-large;
}

h3 {
	font-size: x-large;
}

h4 {
	font-size: large;
}

h5 {
	font-size: medium;
}

h6 {
	font-size: small;
}

p {
	max-width: 66ch;
	text-wrap: pretty;
	margin-block-end: 2lh;
}

pre {
	margin-block: 0;
}

header,
main {
	margin-inline: auto;
	max-width: 90ch;
}
