<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or "Welcome" }} | lmfaole.party</title>
	<meta property="description" content="{{ description or metadata.description }}">

	<meta property="og:title" content="{{ title or metadata.title }}">
	<meta property="og:description" content="{{ description or metadata.description }}">
	<meta property="og:image" content="https://lmfaole.party/img/open-graph.png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta property="og:url" content="{{metadata.url}}{{page.url | escape }}"/>
	<meta property="og:type" content="article">
	<meta property="og:article:published_time" content="{{created | htmlDateString}}">
	<meta property="og:article:modified_time" content="{{modified | htmlDateString}}">
	<meta property="og:article:author" content="{{metadata.author.name}}">
	<meta property="og:article:tag" content="{% set comma = joiner() %}{% for tag in tags -%}{{ comma() }} {{ tag }}{%- endfor %}">
	<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{{metadata.url}}{{page.url | escape }}">
	<meta property="twitter:title" content="{{ title or "Welcome" }} | lmfaole.party">
	<meta property="twitter:description" content="{{ description or metadata.description }}">
	<meta property="twitter:image" content="https://lmfaole.party/img/open-graph.png">

    <link rel="webmention" href="https://webmention.io/lmfaole.party/webmention" />

    <meta name="generator" content="{{ eleventy.generator }}">

	{#- Add the contents of a file to the bundle #}
	<style>
		{% include "css/index.css" %}
		{% include "css/reset.css" %}
		{% include "css/base.css" %}
		{% include "css/components.css" %}
		{% include "css/state.css" %}
	</style>

	{#- Or you can add from node_modules #}
	{# <style>{% include "node_modules/something.css" %}</style> #}

	{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
	<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">

	{#- Favicons #}
	<link rel="icon" href="/img/favicon.ico" sizes="32x32">
	<link rel="icon" href="/img/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/img/favicon.png">
	<meta property="og:logo" content="/img/favicon.png">
	<!-- 180×180 -->

	{#- Add the heading-anchors web component to the JavaScript bundle #}
	<script type="module">
		{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}
	</script>
</head>