---
layout: layouts/base.njk
---

{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>
	@layer reset {
		{% include "node_modules/prismjs/themes/prism-okaidia.css" %}
	}
</style>
<style>
	@layer reset {
		{% include "css/prism-diff.css" %}
	}
</style>
<article class="post-item">
	<header class="post-header">
		<div class="info">
			<h1 class="title">{{ title }}</h1>
			{% if description %}
				<p class="lead">{{ description }}</p>
			{% endif %}
		</div>
		{% if image %}
			<img src="/blog/img/{{image}}" alt="{% if imageAlt %}{{imageAlt}}{% else %}{% endif %}"/>
		{% endif %}
	</header>

	{{ content | safe }}

	<footer class="post-footer">
		{% if tags.length > 1 %}
			<h2 id="tag-heading">Tags</h2>
			<ul class="chip-group" role="list" aria-labelledby="tag-heading">
				{%- for tag in tags | filterTagList %}
					{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
					<li>
						<a href="{{ tagUrl }}" class="post-tag chip" rel="tag">{{ tag }}</a>
					</li>
				{%- endfor %}
			</ul>
		{% endif %}

		<p class="muted">
			{% if modified %}
				{% if modified !== created %}
					Updated <time datetime="{{ modified | htmlDateString }}">{{ modified | readableDateHour }}</time>
					<br/>
					Posted <time datetime="{{ created | htmlDateString }}">{{ created | readableDateHour }}</time>
				{% else %}
					Posted <time datetime="{{ created | htmlDateString }}">{{ created | readableDateHour }}</time>
					{%endif%}
				{% else %}
				Posted <time datetime="{{  date | htmlDateString }}">{{ date | readableDateHour }}</time>
					{%endif%}
				</p>

				{# {%- if collections.posts %}
			{%- set previousPost = collections.posts | getPreviousCollectionItem %}
			{%- set nextPost = collections.posts | getNextCollectionItem %}
			{%- if nextPost or previousPost %}
				<ul class="links-nextprev">
					{%- if previousPost %}
						<li class="links-nextprev-prev">← Previous<br>
							<a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
						</li>
					{% endif %}
					{%- if nextPost %}
						<li class="links-nextprev-next">Next →<br> <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
						</li>
					{% endif %}
				</ul>
			{%- endif %}
		{%- endif %} #}
			</footer>
		</article>