@import url("base.css");
@import url("components.css");
@layer root, base, components;

@layer root {
	:root {
		--color: light-dark(oklch(0 0 0), oklch(1 0 89.876));
		--background-color: light-dark(oklch(1 0 89.876), oklch(0 0 0));
		--purple: light-dark(oklch(0.676 0.188 299.838), oklch(0.317 0.171 292.953));
		--blue: light-dark(oklch(0.459 0.308 267.393), oklch(1 0 89.876));

		color-scheme: light dark;
	}
}